body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 225, 122);
    margin: 0;
    position: relative;
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px 0;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn {
    background-color: #ffffff;
    color: rgb(233, 48, 48);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    position: absolute;
}

#yesButton {
    margin-right: 150px;
}

#noButton {
    transition: left 0.5s, top 0.5s;
}
